extends layout

block content
  .page-header
    h3 Chat

  script(src='https://cdn.firebase.com/v0/firebase.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  link(rel='stylesheet', href='/firechat/firechat-default.min.css')
  link(rel='stylesheet', href='/firechat/firechat-custom.css')
  script(src='/firechat/firechat-default.min.js')
  script(src='/firechat/helper.js')

  div(class='row')
    h4(class='col-sm-2')
      | Chatrooms
    h4(class='col-sm-10') 
       #firechat-wrapper
       script(type='text/javascript').
        var chatRef = new Firebase('https://hackgenda.firebaseio.com/chat');
        var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));
        chat.setUser("#{id}", "#{user.profile.name}");
        chatRef.auth("#{token}");
        var _chat = new Firechat(chatRef);
        setTimeout(function(){_chat.enterRoom('-JFsZPPERCxXSXDDIE33');}, 500);