extends layout

block content
  .page-header
    h3 Chat

  script(src='https://cdn.firebase.com/v0/firebase.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  link(rel='stylesheet', href='/firechat/firechat-default.min.css')
  script(src='/firechat/firechat-default.min.js')

  #firechat-wrapper
  script(type='text/javascript').
    var chatRef = new Firebase('https://hackgenda.firebaseio.com/chat');
    var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));
    chat.setUser(#{id}, #{user.profile.name});
    chatRef.auth(#{token});

