extends layout

block content

  h1 PennApps Demo
  p.lead
    | Not your average college hackathon.
    br
    | 48 hours. 1,200 hackers. $30,000 in prizes.

  link(rel='stylesheet', href='/css/home-custom.css')