extends layout

block content

  h1 PennApps Demo
  p.lead
    | Not your average college hackathon.
    br
    | 48 hours. 1,200 hackers. $30,000 in prizes.

  div(class='row')
      div(class='col-sm-4 col-sm-offset-8')
        h2 Recent Updates
        for (var i = 0; i < 5; ++i) {
          div(class='main-announcement')
            h3 #{announcements[i].name}
            h4 #{announcements[i].description}
            h6 By #{announcements[i[.author} | #{announcements[i].time}
        }

  link(rel='stylesheet', href='/css/home-custom.css')