#wrap  {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center 0;
}

#wrap h1, #wrap p.lead {
  color: #fff;
  text-shadow: 0px 0px 5px #0e0e0e;
}

#wrap h1 {
  font-size: 60px;
}

#footer {
  opacity: 0.7;
}

#wrap .col-sm-4.col-sm-offset-8 {
  color: #fff;
  position: relative;
  top: -144px;
  text-shadow: 0px 0px 5px #0e0e0e;
}